In [2]:
#importing CSV File and Reading it
import pandas as pd
import csv
df= pd.read_csv("GlobalLandTemperaturesByCountry.csv", sep=',', encoding='latin-1')
df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Ã land
1,1743-12-01,NaN,NaN,Ã land
2,1744-01-01,NaN,NaN,Ã land
3,1744-02-01,NaN,NaN,Ã land
4,1744-03-01,NaN,NaN,Ã land
5,1744-04-01,1.530,4.680,Ã land
6,1744-05-01,6.702,1.789,Ã land
7,1744-06-01,11.609,1.577,Ã land
8,1744-07-01,15.342,1.410,Ã land
9,1744-08-01,NaN,NaN,Ã land
10,1744-09-01,11.702,1.517,Ã land
11,1744-10-01,5.477,1.862,Ã land
12,1744-11-01,3.407,1.425,Ã land
13,1744-12-01,-2.181,1.641,Ã land
14,1745-01-01,-3.850,1.841,Ã land
15,1745-02-01,-6.575,1.360,Ã land
16,1745-03-01,-4.195,1.213,Ã land
17,1745-04-01,-0.966,1.172,Ã land
18,1745-05-01,NaN,NaN,Ã land
19,1745-06-01,NaN,NaN,Ã land
20,1745-07-01,NaN,NaN,Ã land
21,1745-08-01,NaN,NaN,Ã land
22,1745-09-01,NaN,NaN,Ã land
23,1745-10-01,NaN,NaN,Ã land
24,1745-11-01,NaN,NaN,Ã land
25,1745-12-01,NaN,NaN,Ã land
26,1746-01-01,NaN,NaN,Ã land
27,1746-02-01,NaN,NaN,Ã land
28,1746-03-01,NaN,NaN,Ã land
29,1746-04-01,NaN,NaN,Ã land
...,...,...,...,...
577432,2011-04-01,21.759,0.319,Zimbabwe
577433,2011-05-01,19.627,0.398,Zimbabwe
577434,2011-06-01,16.939,0.599,Zimbabwe
577435,2011-07-01,15.803,0.447,Zimbabwe
577436,2011-08-01,17.883,0.328,Zimbabwe
577437,2011-09-01,22.902,0.612,Zimbabwe
577438,2011-10-01,24.966,0.441,Zimbabwe
577439,2011-11-01,25.521,0.318,Zimbabwe
577440,2011-12-01,24.013,0.356,Zimbabwe
577441,2012-01-01,23.872,0.247,Zimbabwe
577442,2012-02-01,24.294,0.305,Zimbabwe
577443,2012-03-01,23.596,0.354,Zimbabwe
577444,2012-04-01,20.349,0.462,Zimbabwe
577445,2012-05-01,19.712,0.312,Zimbabwe
577446,2012-06-01,16.631,0.277,Zimbabwe
577447,2012-07-01,16.048,0.783,Zimbabwe
577448,2012-08-01,18.946,1.127,Zimbabwe
577449,2012-09-01,22.609,0.643,Zimbabwe
577450,2012-10-01,23.482,0.574,Zimbabwe
577451,2012-11-01,24.606,0.532,Zimbabwe
577452,2012-12-01,24.111,0.846,Zimbabwe
577453,2013-01-01,23.812,1.218,Zimbabwe
577454,2013-02-01,24.075,1.286,Zimbabwe
577455,2013-03-01,23.226,0.564,Zimbabwe
577456,2013-04-01,21.142,0.495,Zimbabwe
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [8]:
df['dt'].dtype

dtype('O')